@import url("https://fonts.googleapis.com/css?family=Merriweather");

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");


body {
    font-family: merriweather,serif;
}

h1, h2, h3, h4, h5, h6, header, header.a, .leader {
    text-transform: lowercase;
    font-family: alegreya sans sc,sans-serif;
}

a {
    text-decoration: none;
    color: #357edd;;
    -moz-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

@media (--breakpoint-large) {
	.f59-l {font-size:1.15rem;}
}
@media (--breakpoint-medium) {
	.f51-m { font-size: 1.075rem; }
}
