@import url("https://fonts.googleapis.com/css?family=Merriweather");

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");


body {
    font-family: merriweather,serif;
}

h1, h2, h3, h4, h5, h6, header, header.a {
    text-transform: lowercase;
    font-family: alegreya sans sc,sans-serif;
}


