{{ template "header" . }}
{{ template "messages" . }}
<article data-name="article-full-bleed-background" class="ph5-ns" style="max-width: 67rem;">
	<div class="cf" style="background: url(/static/img/landing.jpg) no-repeat center center fixed; background-size: cover; ">
		<div class="fl pa3 bg-white black-70 measure-narrow f3 pv4">
			<header class="bb b--black-70">
				<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">
				About</h3>
			</header>
			<section class="pt2 pb4">
				<p class="f5 lh-copy measure-wide">
					Sarcasm is the native language of the Internet. Unfortunately, since sarcasm is a close friend to cynicism, this can make the Internet a negative and disillusioned place. I decided to make an effort to make a place on the Internet that is more positive and reflective. This place would be where you can present your own story, anonymously and sincerely. The result was initially called &ldquo;Stories, Incognito&rdquo; but I later decided on the name &ldquo;<em>anonfiction</em>&rdquo; (i.e. anonymous + nonfiction), which is now live at <a href="https://www.anonfiction.com">www.anonfiction.com</a>. You can <a href="https://www.anonfiction.com/write">submit your story</a> right now, if you&rsquo;d like!
				</p>
				<p class="f5 lh-copy measure-wide">
					Stories Incognito accepts all stories, as long as they are nonfiction. The style of writing is not as important as being genuine and thoughtful.
				</p>
				<p class="f4 lh-copy measure-wide">
					There is no word limit.
				</p>
				<p class="f5 lh-copy measure-wide">
					You may <a href="/write">submit stories online</a> or you can mail stories to ADDRESS.
				</p>
			</section>
		</div>
		<div class="fl pa3 bg-white black-70 measure-narrow f3 pv2">
			<header class="bb b--black-70">
				<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">
				Curating</h3>
			</header>
			<section class="pt2 pb4">
				<p class="f4 lh-copy measure-wide">
					All stories are accepted.
				</p>
				<p class="f5 lh-copy measure-wide">
					In order to ensure privacy of the writer, stories will be edited to remove identifying
					names, places, or occupations. Unless crucial to the story, such instances will be changed to
					pseudo-names.
				</p>
			</section>
		</div>
	</div>
</article>
{{ template "footer" . }}