{{ template "header" . }}

<section class="ph5-ns pv4 ph3" style="max-width: 66rem;">
		<div >
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr class="stripe-dark">
          <th class="fw6 tl pa2 bg-white">Topic</th>
          <th class="fw6 tl pa2 bg-white">Submitted</th>
          <th class="fw6 tl pa2 bg-white">Status</th>
          <th class="fw6 tl pa2 bg-white">Manage</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr class="stripe-dark">
          <td class="pa2">Losing</td>
          <td class="pa2">01/01/2017</td>
          <td class="pa2">published</td>
          <td class="pa2"><a class="blue no-underline underline-hover" href="#0">edit </a><a class="ph2 red no-underline underline-hover" href="#0">unpublish </a>
  </td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Losing</td>
          <td class="pa2">01/01/2017</td>
          <td class="pa2">unpublished</td>
          <td class="pa2"><a class="blue no-underline underline-hover" href="#0">edit </a><a class="ph2 green no-underline underline-hover" href="#0">publish </a>
  </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
	</section>
	
{{ template "footer" . }}