{{ template "header" . }}
<section class="ph5-ns pv4 ph3" style="max-width: 66rem;">
	<h1>Stories</h1>
	<div >
		<div class="overflow-auto">
			<table class="f6 w-100 mw8 center" cellspacing="0">
				<thead>
					<tr class="stripe-dark">
						<th class="fw6 tl pa2 bg-white">Topic</th>
						<th class="fw6 tl pa2 bg-white">ID</th>
						<th class="fw6 tl pa2 bg-white">Story</th>
						<th class="fw6 tl pa2 bg-white">User</th>
						<th class="fw6 tl pa2 bg-white">Created</th>
						<th class="fw6 tl pa2 bg-white">Published</th>
						<th class="fw6 tl pa2 bg-white"></th>
						<th class="fw6 tl pa2 bg-white"></th>
						<th class="fw6 tl pa2 bg-white"></th>
					</tr>
				</thead>
				<tbody class="lh-copy">
					{{ range .Stories }}
					<tr class="stripe-dark">
						<td class="pa2">{{ .Topic }}</td>
						<td class="pa2"><code><a href="/write/{{ .ID }}">{{ .ID }}</a></code></td>
						<td class="pa2"><small><em>“{{ .Description }}”</em></small></td>
						<td class="pa2"><a href="#{{ .UserID }}"><code>{{ .UserID }}</code></a></td>
						<td class="pa2"><small>{{ .DateCreated.Format "Jan 02, 2006 3:04PM" }}</small></td>
						<td class="pa2"><small>{{ if .Published}}{{ .DatePublished.Format "Jan 02, 2006 15:04PM" }}{{ end }}</small> </td>
						<td class="pa2"><a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib blue" href="/read/story/{{ .ID }}">Read</a>
						</td>
					<td class="pa2">
					<a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib black" href="/write/{{ .ID }}">Edit</a>
					</td>
					<td class="pa2">					
					<a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib red" href="/delete?story={{ .ID }}" onclick="return confirm('Are you sure?')">Delete</a></td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</div>
</section>
<section class="ph5-ns pv4 ph3" style="max-width: 66rem;">
	<h1>Users</h1>
	<div >
		<div class="overflow-auto">
			<table class="f6 w-100 mw8 center" cellspacing="0">
				<thead>
					<tr class="stripe-dark">
						<th class="fw6 tl pa2 bg-white">ID</th>
						<th class="fw6 tl pa2 bg-white">Email</th>
						<th class="fw6 tl pa2 bg-white">Joined</th>
						<th class="fw6 tl pa2 bg-white">Language</th>
						<th class="fw6 tl pa2 bg-white">Subscribed</th>
					</tr>
				</thead>
				<tbody class="lh-copy">
					{{ range .Users }}
					<tr class="stripe-dark">
						<td class="pa2" id="{{ .ID }}"><code>{{ .ID }}</code></td>
						<td class="pa2">{{ .Email }}</td>
						<td class="pa2">{{ .Joined.Format "Jan 02, 2006 15:04:05 UTC"  }}</td>
						<td class="pa2">{{ .Language }}</td>
						<td class="pa2">{{ .Subscribed }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</div>
</section>
{{ template "footer" . }}