{{ template "header" . }}
<article class="pa3 pa5-ns" style="padding-bottom: 0px; padding-top: 0px;">
  <header class="avenir tc-l ph3 ph4-ns pt4 pt5-ns">
    <h1 class="f3 f2-m f-subheadline-l measure lh-title fw1 mt0">Topics</h1>

  </header>
  <ul class="list pa3 pa5-ns" style="padding-top: 0px;">
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Losing</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">That Night</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Accomplishments</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">The First Year</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Mischief</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Bad Habits</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Winter</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">In The Middle</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Dating</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">What Really Matters</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Upstairs</a></li>
  </ul>
</article>

{{ template "footer" . }}
