{{ template "header" . }}
<article style="padding-bottom: 0px; padding-top: 0px;">
  <header class="avenir ph3 ph5-ns pt4 pt5-ns">
    <h1 class="f1 pa2 measure lh-title mt0">Previous topics</h1>
  </header>
  <ul class="list ph5-ns" style="padding-top: 0px; max-width: 70rem;">
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Losing</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">That Night</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Accomplishments</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">The First Year</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Mischief</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Bad Habits</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Winter</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">In The Middle</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Dating</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">What Really Matters</a></li>
    <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">Upstairs</a></li>
  </ul>
</article>

{{ template "footer" . }}
