{{ template "header" . }}
<link rel="stylesheet" type="text/css" href="/static/css/trix.css">
<script type="text/javascript" src="https://trix-editor.org/js/trix.js"></script>
<script src="https://trix-editor.org/js/attachments.js"></script>

<style>
@import url("/static/css/trix.css");

.trix-container {
  max-width: 100%; }

.trix-content h1 {
  margin-bottom: 0.4em; }
.trix-content .attachment--preview {
  margin: 0.6em 0; }

trix-toolbar {
  font-family: sans-serif; }

trix-editor {
  min-height: 320px !important; }
</style>

<article class="pv5 bg-lightest-blue  dark-blue mb2 ph3 " >
  <h1 class="fw6 f3 ph5-ns f2-ns lh-title mt0 mb3">
  Write your story
  </h1>
  <h2 class="fw2 f4 ph5-ns lh-copy mt0 mb3">
    Current topic is <span class="f3">“Losing”</span> and closes in 15 days.
  </h2>
  <!-- <p class="fw1 f5 mt0 mb3">
    Sign up for beta access or learn more about x.
  </p> -->
  <div class="ph5-ns">
    <a class="f6 br-pill bg-dark-blue no-underline washed-green ba b--dark-blue grow pv2 ph3 dib mr3"
      href="/edit">
      Submit story
    </a>
  </div>
</span>
</article>


<section class="ph3 ph5-ns pv3" style="max-width: 66rem;">
  <!-- <article class="mw8 center br2 ba b--light-blue bg-lightest-blue">
    <div class="dt-ns dt--fixed-ns w-100">
      <div class="pa3 pa4-ns dtc-ns v-mid">
          <h2 class="fw4 blue mt0 mb3">Current topic: <strong>Animals</strong></h2>
          <p class="black-70 measure lh-copy mv0">
            Write as much or as little as you want. Once you submit your story will be received by an editor.
          </p>
      </div>
      <div class="pa3 pa4-ns dtc-ns v-mid">
        <a href="#" class="no-underline f6 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2">Submit story</a>
      </div>
    </div>
  </article> -->
  <br>
  <article class="mw8 center br2 ba">
    <div class="dt-ns dt--fixed-ns w-100">
    <form>
      <div class="trix-container">
        <input type="hidden" id="content" value="">
      <trix-editor input="content" class="trix-content" autofocus></trix-editor>
    </div>
  </form>
    </div>
    <div class="dt-ns dt--fixed-ns w-100">
    </div>
  </article>
  <div class="measure pv3">
    <label for="name" class="f6 b db mb2">Keywords <span class="normal black-60">(optional)</span></label>
    <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
    <small id="name-desc" class="f6 black-60 db mb2">Helper text for the form control.</small>
  </div>
</section>


{{ template "footer" . }}
