{{ template "header" . }}
<link rel="stylesheet" type="text/css" href="/static/css/trix.css">
<script type="text/javascript" src="https://trix-editor.org/js/trix.js"></script>
<script src="https://trix-editor.org/js/attachments.js"></script>

<style>
@import url("/static/css/trix.css");

.trix-container {
  max-width: 100%; }

.trix-content h1 {
  margin-bottom: 0.4em; }
.trix-content .attachment--preview {
  margin: 0.6em 0; }

trix-toolbar {
  font-family: sans-serif; }

trix-editor {
  min-height: 320px !important; }
</style>



  <section class="ph3 ph5-ns pv4" style="max-width: 66rem;">
    <form action="http://localhost:3000/sign-up_submit" method="get" accept-charset="utf-8">
      <article class="mw8 center br2 ba">
        <div class="dt-ns dt--fixed-ns w-100">
          <div class="trix-container">
            <input type="hidden" id="content" value="Write your story here.">
            <trix-editor input="content" class="trix-content" autofocus></trix-editor>
          </div>
        </div>
        <div class="dt-ns dt--fixed-ns w-100">
        </div>
      </article>


      <div class="measure pv2 mt2">

        <label for="name" class="f3 b db mb2 leader">Keywords
          <span class="normal black-60">(optional)</span>
        </label>
        <input id="name" class="input-reset ba b--black-20 pa2 mb db w-100" type="text" aria-describedby="name-desc">
      </div>




        <div class="measure">
            <div class="mt2">

                <article class="cf">
                    <div class="fl w-100 w-50-ns pv2 flex">
                        <select class="leader f2 pa2 pointer ">
                            <option value="volvo">Losing</option>
                            <option value="saab">Love</option>
                            <option value="mercedes">Being Broke</option>
                          </select>
                    </div>
                    <div class="fl w-100 w-50-ns pv2 flex">
                        <input class="leader f2 pa2 input-reset ba bg-transparent black ph4 grow pointer" type="submit" value="Submit">
                    </div>
                  </article>
                  <small id="name-desc" class="f6 black-60 db mb2">Select the topic and submit.</small>
                  
            </div>
          </div>
    
    </form>


  </section>



{{ template "footer" . }}
