{{ template "header". }}

<section class="vh-100 bg-washed-blue baskerville">
  <header class="tc ph5 lh-copy">
      <h1 class="f1 f-headline-l code mb3 fw9 dib tracked-tight light-purple">{{ .ErrorCode }}</h1>
      <h2 class="tc f1-l fw1">{{ .ErrorMessage }}</h2>
  </header>
</section>

{{ template "footer" . }}