{{ define "footer" }}
<footer class="pv4 ph5-ns mid-gray ph3 ">
	<small class="f6 db">© 2017 <b class="ttu">stories, incognito</b>., All Rights Reserved</small>
	<div class="mt3">
		<a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
		<a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
		<a href="/about/"  title="Contact" class="f6 dib ph2 link mid-gray dim">About + Contact</a>
	</div>
</footer>
<script>
feather.replace()
</script>
{{ end }}