{{ template "header" . }}



<section class="ph5-ns pv5" style="max-width: 66rem;">
		<article class="mw8 center br2">
			<div class="dt-ns dt--fixed-ns w-100">
				<main class="black-80">
					<form action="sign-up_submit" method="get" accept-charset="utf-8">
	 <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
		 <h1>Sign In</h1>
		 <div class="mt3">
			 <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
			 <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email-address"  id="email-address">
		 </div>
		 <div class="mt3">
			 <label class="db fw4 lh-copy f6" for="password">Password</label>
			 <input class="b pa2 input-reset ba bg-transparent" type="password" name="password"  id="password">
		 </div>
		 <div class="mt3">
			 <label class="pa0 ma0 lh-copy f6 pointer"><input type="checkbox"> Remember me</label>
				 </div>

	 </fieldset>
	 <div class="">
		 <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Sign in">
	 </div>
	 <div class="lh-copy mt3">
		 <a href="/signup" class="f6 link dim black db">Sign up</a>
		 <a href="#0" class="f6 link dim black db">Forgot your password?</a>
	 </div>
 </form>
				</main>
			</div>
		</article>
	</section>


{{ template "footer" . }}
