{{ define "messages" }}
{{ with .InfoMessage }}
<div class="pa3 pv4 bg-lightest-blue navy">
  <section class=" pv2 ph5-ns">
    <i data-feather="info" class="dib h2 w2 v-mid"></i>
  <span class="lh-title ml3 v-mid">{{ . }}</span>
</section>
</div>
{{ end }}

{{ with .ErrorMessage }}
<div class="pa3 pv4 bg-light-yellow red">
  <section class=" pv2 ph5-ns">
    <i data-feather="info" class="dib h2 w2 v-mid"></i>
  <span class="lh-title ml3 v-mid">{{ . }}</span>
</section>
</div>
{{ end }}
{{ end }}