{{ template "header" . }}
<article data-name="article-full-bleed-background" class="ph5-ns" style="max-width: 67rem;">
	<div class="cf" style="background: url(/static/img/landing.jpg) no-repeat center center fixed; background-size: cover; ">
		<div class="fl pa3 bg-white black-70 measure-narrow f3 pv4">
			<header class="bb b--black-70">
				<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">
				Promo</h3>
			</header>
			<section class="pt2 pb4">
				<p class="f5 lh-copy measure-wide">
					For a limited time...Sarcasm is the native language of the Internet. Unfortunately, since sarcasm is a close friend to cynicism, this can make the Internet a negative and disillusioned place. I decided to make an effort to make a place on the Internet that is more positive and reflective. This place would be where you can present your own
				</p>
			</section>
		</div>
		
	</div>
</article>
{{ template "footer" . }}