{{ template "header" . }}
<article data-name="article-full-bleed-background" class="ph5-ns" style="max-width: 67rem;">
	<div class="cf" style="background: url(/static/img/landing.jpg) no-repeat center center fixed; background-size: cover; ">
		<div class="fl pa3 bg-white black-70 measure-narrow f3 pv4">
			<header class="bb b--black-70">
				<h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">
				Promo</h3>
			</header>
			<section class="pt2 pb4">
				<p class="f5 lh-copy measure-wide">
					For a limited time we will pay you $1 for your nonfiction story. This is a first-come, first-serve, limited time offer.
				</p>	
				<p class="f5 lh-copy measure-wide">
					If you are interested in applying for this offer, send a one-line story idea to <a href="mailto:stories@anonfiction.com">stories@anonfiction.com</a>. The editors will read your story idea and let you know whether or 
					not we can use it. If we can use it, you can submit the story to us and we will PayPal $1 to you.
				</p>	
				<p class="f5 lh-copy measure-wide">
				You are, of course, always welcome to <a href="/write">submit your story online</a> which will be published no matter what.
				</p>	
			</section>
		</div>
		
	</div>
</article>
{{ template "footer" . }}