{{ template "header" . }}

{{ template "messages" .}}

<article class="cf ph3 ph5-ns pv4 mw8">
  <header class="fn fl-ns w-50-ns pr4-ns">
<div class="pv2">
<img src="/static/img/{{ .Topic.Name }}.jpg">
</div>

    <h1 class="f1 mb0 mt0 lh-title">“{{ .Topic.Name }}”</h1>
    <span class="pa1 pv1">
    <time class="f6 ttu tracked gray">{{ .Topic.Month }}</time>
  </span>
    <div class="pv1">
    {{ with .Story}}{{ range $index, $element := .Keywords }}
    
    <a class="f4 fw7 dib pa1 no-underline bg-animate bg-white hover-bg-light-blue black-30" href="/read?keyword={{$element}}">{{ $element }}</a>
    {{end}}{{end}}

</div>
  </header>
  <div class="fn fl-ns w-50-ns">

  {{ with .Story}}
    {{ range $index, $element := .Paragraphs }}
      {{if eq $index 0 }}<p class="lh-copy measure mt4 mt0-ns">{{else}}<p class="lh-copy measure">{{end}} 
      {{ $element }}
      </p>
    {{end}}
  {{end}}

  </div>
  <footer class="fn fl-ns w-50-ns pr4-ns pv4" style="float:right;">
  <div class="flex">
    {{ with .Previous }}
    <a href="/read?story={{.}}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
          <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
        <span class="pl1">Previous</span>
      </a>
<script>
$(function(){
  // Bind the swipeleftHandler callback function to the swipe event on div.box
  $( "body" ).on( "swipeleft", swipeLeftHandler );
 
  // Callback function references the event target and adds the 'swipeleft' class to it
  function swipeLeftHandler( event ){
    window.location = "/read?story={{.}}";
  }
});
</script>


    {{ end }}
    {{ with .Next }}
    <a href="/read?story={{.}}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
        <span class="pr1">Next</span>
        <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronRight icon</title>
        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
      </svg>
    </a>
<script>
$(function(){
  // Bind the swipeleftHandler callback function to the swipe event on div.box
  $( "body" ).on( "swiperight", swipeRightHandler );
 
  // Callback function references the event target and adds the 'swipeleft' class to it
  function swipeRightHandler( event ){
    window.location = "/read?story={{.}}";
  }
});
</script>

    {{ end }}
  </div>
</footer>
</article>


  <script src="/static/js/jquery.mobile-1.5.0-alpha.1.min.js"></script>

{{ template "footer" . }}
