{{ template "header" . }}

<article class="pv4 bg-lightest-blue  dark-blue mb2 ph3 " >
  <h1 class="fw6 f3 ph5-ns f2-ns lh-title mt0 mb0">
Me's Profile
  </h1>
  <h2 class="fw2 f4 ph5-ns lh-copy mt0 mb3">
   Manage your stories. Make new ones, edit old ones, delete unwanted ones. <span class="f3">&nbsp;</span>
  </h2>
  <!-- <h2 class="fw2 f4 ph5-ns lh-copy mt0 mb3">
    Current topic is <span class="f3">“Losing”</span> and closes in 15 days.
  </h2> -->
  <!-- <p class="fw1 f5 mt0 mb3">
    Sign up for beta access or learn more about x.
  </p> -->
  <div class="ph5-ns">
    <a class="f4 leader br-pill bg-dark-blue no-underline washed-green ba b--dark-blue grow pv2 ph3 dib mr3"
      href="/write">
      Write online
    </a>
    <a class="f4  leader br-pill dark-blue no-underline ba grow pv2 ph3 dib"
      href="/upload">
     Upload from computer
    </a>
  </div>
</span>
</article>

<section class="pa2 pv2 ph5-ns mb5">
<article class="ph2">
 <h1 class="db f4 mb1">Your stories</h1>
 <span class="f5 db lh-copy measure-wide">
   The stories you have authored are listed below.  If you need to update your story, just click Edit. Once published, you will no longer be able to Edit. If you wish to no longer have your story available, feel free to delete.
 </span>
 <span class="f5 db lh-copy measure pt3">
   Only you can see the stories you have published. When your stories are published, only the content of the story will be publicly visible. Any personally identifying information will be removed before your story is published.
 </span>
 </article>
 <article class="ph2 pv4">
 <ul class="list pl0 mt0 measure">

   <li
     class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
       <div class="flex-auto">
         <span class="f6 db gray-70">Losing</span>
         <span class="f6 db black-70">August 17th, 2017</span>
       </div>
       <div>
         <a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib black" href="/write?id=ALKSJDAL">Edit</a>
         <a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib red" href="/delete?id=ALKJSAF">Delete</a>
       </div>
   </li>
   <li
       class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
         <div class="flex-auto">
           <span class="f6 db gray-70">Being Broke</span>
           <span class="f6 db black-70">August 17th, 2017</span>
         </div>
         <div>
           <a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib red" href="#0">Delete</a>
         </div>
     </li>
     <li
         class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
           <div class="flex-auto">
             <span class="f6 db gray-70">Being Broke <em>(submitted)</em></span>
             <span class="f6 db black-70">August 17th, 2017</span>
           </div>
           <div>
             <a class="f6 link dim br1 ba bw1 ph3 pv2 mb2 dib red" href="#0">Delete</a>
           </div>
       </li>
 <div class="pv4 ph2">
   <a class="f6 link dim br1 ba bw1 ph5 pv2 mb2 dib blue" href="#0">Download all</a>
   <a class="f6 link dim br1 ba bw1 ph5 pv2 mb2 dib gray" href="#0">Delete profile</a>
</article>

 <!-- <article class="ph2 pv4">
    <span class="f5 db lh-copy measure">
    This is the current list of topics, some of which are passed. Click on a topic to read the stories from it.
    </span>
 </article> -->
</section>




{{ template "footer" . }}
